/* GWYN ZINFIEL */


.gwynposttemp {background-color:#9B897B;color:#ffffff;padding:50px;font-size:15px;text-align:justify;width:400px;} 
.gwynposttemp h2 {text-transform:uppercase;letter-spacing:5px;border-bottom:5px solid #ffffff;}
.gwynposttemp b {color:#101010;font-size:17px;} 
.gwynposttemp i {color:#C64242;}


/* ASUKA HAYASHI */


.asukaposttemp {border:13px solid #8BA2D3;width:500px;-webkit-border-radius: 20px 20px 20px 20px;
border-radius: 20px 20px 20px 20px;}
.asukapostinner {padding:20px;text-align:justify;}
.asukaposttemp h2 {text-align: left; border-bottom:5px solid #686868;display:block;background-color:#fffff;color:#686868;margin-top:0;margin-bottom:0;padding:9px;font-weight: bolder;font-family: 'Pacifico', cursive;font-size:33px;}
.asukaposttemp b {font-size:18px;color:#AA7676;text-shadow: 1px 1px 2px #000000;text-transform:uppercase;}
.asukaposttemp i {color:#767FAA;font-size:15px;}





/* SKYE PROWER */


.skyeprowerposttemp {
  color: #545454;
  border: 10px solid #d1ae7c;
  width: 500px;
  padding: 20px;
  text-align: justify;
  font-size: 12px;
  line-height: 20px;
}

.skyeprowerposttemp h2 {
  border-left: 50px double #7c8ad1;
  padding: 5px;
  color: #7c8ad1;
  margin-top: 0;
  text-align: left;
  font-size:30px;
}

.skyeprowerposttemp hr {margin-top:-15px !important;}

.skyeprowerposttemp i {
  color: #6682b4;
  text-shadow: 1px 1px 5px #4f5764;
  font-size: 17px;
}

.skyeprowerposttemp b {
  color: #9b462c;
  text-transform: uppercase;
  font-size: 12px;
}




/* KAGAMINE LEN */

.lenposttemp {
  width: 450px;
  margin: 0 auto;
  padding: 50px;
  background-color: #AC960C;
}

.lenposttemp h2 {
  font-size: 60px;
  margin-top: -25px;
  margin-bottom: -15px;
  font-family: "Lobster", cursive;
  letter-spacing: 7px;
  color:#CFB300;
  text-shadow: 2px 5px 1px #000000;
  text-align:center;
}

.lentext {
  padding: 30px;
  text-align: justify;
  height: 300px;
  overflow: auto;
  background-color: #ffffff;
  color: #000000;
}

.lentext b {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 900;
  color: #000000;
}
.lentext i {
  font-size: 15px;
  color: #075100;
}

.lenposticons {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  background-color: #ffffff;
}
.lenposticons img {
  margin-left: 30px;
}


