.gwynposttemp {background-color:#9B897B;color:#ffffff;padding:50px;font-size:15px;text-align:justify;width:400px;} 
.gwynposttemp h2 {text-transform:uppercase;letter-spacing:5px;border-bottom:5px solid #ffffff;}
.gwynposttemp b {color:#101010;font-size:17px;} 
.gwynposttemp i {color:#C64242;}
